.DS_Store
gtt_muc_1_preds.out
gtt_muc_1_analysis.out
.idea/auto-err-template-fill.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
